<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add  key="apiurl" value="http://bet.kwcode.cn/Api/getbetinfo.aspx"/>
  </appSettings>
  <connectionStrings>
    <!--数据库配置-->
    <!--<add name="ConnString1" connectionString="E:\SQL2008\DBFile\Ku_Tool_Write.txt" />-->
    <add name="ConnString1" connectionString="Data Source=.;Initial Catalog=Ku_Demo;Persist Security Info=True;User ID=sa;Password=123" />

  </connectionStrings>
</configuration>