<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add  key="jj_loginname" value="test12345"/>
    <add  key="jj_pwd" value="123456"/>
    <add  key="jj_phone" value="1540301460251"/>

  </appSettings>
  <connectionStrings>
    <!--数据库配置-->
    <add name="ConnString1" connectionString="Data Source=.;Initial Catalog=Game;Persist Security Info=True;User ID=sa;Password=123" />

  </connectionStrings>
</configuration>